[global]
; Log files are stored in this directory as sync_<target>.log
log_file_dir = ./logs
; Default rules: use * to ignore everything, then ! to re-include files.
ignore = *
backup_limit = 5

[docs]
sources = ./dira, ./dirb
target = ./target_docs
ignore = *,!readme.txt

[code]
sources = ./code_a, ./code_b
target = ./target_code
backup_limit = 10
